
#name_title{
  color:#333;
  font-family:sans-serif;
}

#JosephMaulinHeadshot{
  width:150px;
  float:left;
  padding:20px;
}

#nba_stadium{
  width:40%;
}

#wgups_pic{
 width:40%;
}

#appointment_scheduler_pic{
  width:40%;
}

#class_roster_pic{
  width:40%;
}


/* Add a black background color to the top navigation */

.navBar{
  background-color: #444;
  overflow: hidden;
  font-family:sans-serif;
}

/* Style the links inside the navigation bar */
.navBar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
}

/* Change the color of links on hover */
.navBar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navBar a.active {
  background-color: #4CAF50;
  color: white;
}

body{
  padding:16px;
}

.Introduction{
  padding:40px;
  max-width: 700px;
  margin:auto;
  font-size: 40px;
  font-family:sans-serif;
}

.Blog_Post{
  padding:40px;
  max-width: 700px;
  margin:auto;
}

.Blog_Post a{
  color : #222;
  font: sans-serif;
  text-decoration: None;
}

.Blog_Post a:hover{
  background-color: #ddd;
  color: black;
}

.WGUPS{
  padding:40px;
  max-width: 700px;
  margin:auto;
}

.WGUPS a{
  color : #222;
  font: sans-serif;
  text-decoration: None;
}

.WGUPS a:hover{
  background-color: #ddd;
  color: black;
}

.Appointment_Scheduler{
  padding:40px;
  max-width: 700px;
  margin:auto;
}

.Appointment_Scheduler a{
  color : #222;
  font: sans-serif;
  text-decoration: None;
}

.Appointment_Scheduler a:hover{
  background-color: #ddd;
  color: black;
}

.Class_Roster{
  padding:40px;
  max-width: 700px;
  margin:auto;
}

.Class_Roster a{
  color : #222;
  font: sans-serif;
  text-decoration: None;
}

.Class_Roster a:hover{
  background-color: #ddd;
  color: black;
}

.sticky {
  position: fixed;
  top:0;
  width:100%;
}

.sticky + .content{
  padding-top: 60px;
}

.contact {
  display:flex;
  flex-direction:row;
  padding:0px;
  max-width: 500px;
  margin: auto;
}

#email-icon{
  margin:15px;
  height:50px;
  width:50px;
}

#email-button {
  border:none;
  background:none;
}


#email-button a{
  border:none;
  background:none;
}

#email-button a:hover{
  border: 2px solid black;
}

#github-image{
  margin:15px;
  height:50px;
  width:100px;
}

#linkedin{
  margin:15px;
  height:50px;
  width:50px;
}

.footer_break{
  padding-top:60px;
}

.footer_break hr{
  border:solid;
}

.about{
  padding:40px;
  max-width: 700px;
  margin:auto;
  font-family:sans-serif;
}
