
#name_title{
  color:#333;
  font-family:sans-serif;
}

#JosephMaulinHeadshot{
  width:150px;
  float:left;
  padding:20px;
}

#nba_stadium{
  width:40%;
}

#reddit_logo{
  width:40%;
}

#sudoku{
  width:40%;
}

#maze{
  width:40%;
}

#wgups_pic{
 width:40%;
}

#appointment_scheduler_pic{
  width:40%;
}

#class_roster_pic{
  width:40%;
}


/* Add a black background color to the top navigation */

.navBar{
  background-color: #444;
  overflow: hidden;
  font-family:sans-serif;
}

/* Style the links inside the navigation bar */
.navBar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
}

/* Change the color of links on hover */
.navBar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navBar a:active {
  background-color: #4CAF50;
  color: white;
}

body{
  padding:16px;
}

.project-flex{
 display:flex;
  flex-wrap:wrap;
}

.Introduction{
  padding:40px;
  max-width: 700px;
  margin:auto;
  font-size: 40px;
  font-family:sans-serif;
}

.Reddit_Post_Classifier{
  padding:40px;
  max-width: 700px;
  margin:auto;
  font: sans-serif;
  text-decoration: None;
  color: black;
}

.Reddit_Post_Classifier a{
  color: black;
  text-decoration: None;
}

.Reddit_Post_Classifier:hover{
  background-color: #E8E8E8;
}

.Sudoku_Solver{
  padding:40px;
  max-width: 700px;
  margin:auto;
  font: sans-serif;
  text-decoration: None;
  color: black;
}

.Sudoku_Solver a{
  color: black;
  text-decoration: None;
}

.Sudoku_Solver:hover{
  background-color: #E8E8E8;
}

.Path_Finder{
  padding:40px;
  max-width: 700px;
  margin:auto;
  font: sans-serif;
  text-decoration: None;
  color: black;
}

.Path_Finder a{
  color: black;
  text-decoration: None;
}

.Path_Finder:hover{
  background-color: #E8E8E8;
}

.Blog_Post{
  padding:40px;
  max-width: 700px;
  margin:auto;
  font: sans-serif;
  text-decoration: None;
  color: black;
}

.Blog_Post a{
 color: black;
 text-decoration:None;
}

.Blog_Post:hover{
  background-color: #E8E8E8;
}

.WGUPS{
  padding:40px;
  max-width: 700px;
  margin:auto;
  font: sans-serif;
  text-decoration: None;
  color: black;
}

.WGUPS a{
 color: black;
 text-decoration:None;
}

.WGUPS:hover{
  background-color: #E8E8E8;
}

.Appointment_Scheduler{
  padding:40px;
  max-width: 700px;
  margin:auto;
  font: sans-serif;
  text-decoration: None;
  color: black;
}

.Appointment_Scheduler a{
 color: black;
 text-decoration:None;
}

.Appointment_Scheduler:hover{
  background-color: #E8E8E8;
}

.Class_Roster{
  padding:40px;
  max-width: 700px;
  margin:auto;
  font: sans-serif;
  text-decoration: None;
  color: black;
}

.Class_Roster a{
 color: black;
 text-decoration:None;
}

.Class_Roster:hover{
  background-color: #E8E8E8;
}

.sticky {
  position: fixed;
  top:0;
  width:100%;
}

.sticky + .content{
  padding-top: 60px;
}

.contact {
  display:flex;
  flex-direction:row;
  padding:0px;
  max-width: 500px;
  margin: auto;
}

#email-icon{
  margin:15px;
  height:50px;
  width:50px;
}

#email-icon:hover{
  height:55px;
  width:55px;
}

#email-button {
  border:none;
  background:none;
}

#github-image{
  margin:15px;
  height:50px;
  width:100px;
}

#github-image:hover{
  height:55px;
  width:103px;
}

#linkedin{
  margin:15px;
  height:40px;
  width:40px;
}

#linkedin:hover{
  height:45px;
  width:45px;
}

.footer_break{
  padding-top:60px;
}

.footer_break hr{
  border:solid;
}

.about{
  padding:40px;
  max-width: 700px;
  margin:auto;
  font-family:sans-serif;
}
